*.pyc
__pycache__/
*.pyd
*.pyo
*.egg-info/
.pytest_cache/

venv/
.venv/
env/
.env/

.idea/
.vscode/
*.swp
*.bak
*.swo

.DS_Store
Thumbs.db

*.log
*.tmp
temp/

*.sqlite3
*.db

config.ini
.env

logs/

.terraform*
terraform.tfstate*
