name: Build and Deploy Python App

on:
  push:
    branches:
      - main
    paths:
      - 'app/**'

  workflow_dispatch:

jobs:
  build_and_deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build, tag, and push Docker image
        run: |
          IMAGE_TAG="ghcr.io/kuzmanikola/decenter-task:$(git rev-parse --short "$GITHUB_SHA")"
          echo "Building image: $IMAGE_TAG"
          docker build -t $IMAGE_TAG ./app
          docker push $IMAGE_TAG
      - name: Log in to AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: Deploy to ECS
        run: |          
          aws ecs update-service \
            --cluster decenter-app-cluster \
            --service decenter-web-service \
            --task-definition decenter-app-cluster-decenter-web-service:$(git rev-parse --short "$GITHUB_SHA") \
            --force-new-deployment